services:
  cobalt:
    image: ghcr.io/imputnet/cobalt:11
    init: true
    read_only: true
    restart: unless-stopped
    container_name: cobalt
    ports:
      - "8002:9000/tcp"
    environment:
      API_URL: "https://getlink.byhung.com/"
    labels:
      - com.centurylinklabs.watchtower.scope=cobalt
    networks:
      - cobalt-network

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: jovial_cerf
    restart: unless-stopped
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    command: tunnel --no-autoupdate run
    networks:
      - cobalt-network
    depends_on:
      - cobalt

  watchtower:
    image: ghcr.io/containrrr/watchtower
    restart: unless-stopped
    command: --cleanup --scope cobalt --interval 900 --include-restarting
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - cobalt-network

networks:
  cobalt-network:
    name: cobalt_cobalt-network
    driver: bridge