services:
    cobalt:
        image: ghcr.io/imputnet/cobalt:latest

        init: true
        read_only: true
        restart: unless-stopped
        container_name: cobalt

        ports:
            - 8002:9000/tcp
            # Nếu bạn sử dụng reverse proxy (như nginx),
            # bỏ comment dòng dưới và xóa dòng trên (9000:9000/tcp):
            # - 127.0.0.1:9000:9000

        environment:
            # Thay thế bằng URL của instance của bạn
            # nếu không, chức năng tunneling sẽ không hoạt động đúng
            # API_URL: "https://upload.thtmmo.com/"
            API_URL: "http://localhost:8002/"

            # Nếu bạn muốn sử dụng cookies để lấy dữ liệu từ các dịch vụ,
            # bỏ comment dòng dưới & phần volumes
            # COOKIE_PATH: "/cookies.json"

        labels:
            - com.centurylinklabs.watchtower.scope=cobalt

        # Bỏ comment chỉ khi bạn sử dụng biến COOKIE_PATH
        # volumes:
            # - ./cookies.json:/cookies.json

    # watchtower cập nhật image cobalt tự động
    watchtower:
        image: ghcr.io/containrrr/watchtower
        restart: unless-stopped
        command: --cleanup --scope cobalt --interval 900 --include-restarting
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock